version: '3.8'

services:

  # Контейнер 1 - Брокер (посередник)
  broker:
    image: eclipse-mosquitto:2.0
    container_name: mqtt-broker
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./broker/mosquitto.conf:/mosquitto/config/mosquitto.conf

  # Контейнер 2 - Вузол 1 (слухає повідомлення)
  node1:
    build: ./node1
    container_name: mqtt-node1
    restart: unless-stopped
    depends_on:
      - broker  # запускається після брокера

  # Контейнер 3 - Вузол 2 (відправляє повідомлення)
  node2:
    build: ./node2
    container_name: mqtt-node2
    restart: unless-stopped
    depends_on:
      - broker  # запускається після брокера

  # Контейнер 4 - Постман (логує все що відбувається)
  postman:
    build: ./postman
    container_name: mqtt-postman
    restart: unless-stopped
    depends_on:
      - broker  # запускається після брокера
